.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  background-color: #ffffff;
  animation: fadeIn 0.5s ease-in-out;
}

.home-title {
  font-family: 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif;
  color: #1565C0; 
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.home-banner-card {
  background-color: #f2f2f2; 
  padding: 25px; 
  border-radius: 30px; 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  width: auto; 
  max-width: 850px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image {
  width: 100%;
  height: auto;
  border-radius: 15px; 
  display: block;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}